
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <% @membership.last_visit_time = Time.now %>
    <% @membership.save %>

    <!-- This Renders All 4 Tabs of the Post Form -->
    <%= render 'walls/post_form' %>
  </div>
  <div class="col-md-1"></div>
</div>
<br/><br/>

<!-- This Renders All of the Posts in the Group -->
<% if @posts.length == 0 %>
  <p>No posts yet</p>
<%else%>
  <% @posts.each do |post| %>
    <%= render 'walls/post_row', :post => post %>

  <%end%>
<%end%>

<!-- This is the Pagination Section-->


<div class="center">
 <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>


