
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <% @membership.last_visit_time = Time.now %>
    <% @membership.save %>

    <!-- This Renders All 4 Tabs of the Post Form -->

  </div>
  <div class="col-md-1"></div>
</div>

<!-- This Renders All of the Posts in the Group -->
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-12">
    <%= render 'walls/post_form' %>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-12">
    <% if @posts.length == 0 %>
      <br/><br/><br/>
      <p>No posts yet</p>
    <%else%>
      <% @posts.each do |post| %>
      <br/><br/><br/>
        <%= render 'walls/post_row', :post => post %>
      <%end%>
    <%end%>
  <div class="col-md-10">
  <div class="col-md-1"></div>
</div>



<!-- This is the Pagination Section-->


<div class="center">
 <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>


